<div class="px-lg-4">

  <!-- Plant categories -->
  <div class="box">
    <div class="row py-5" style="max-width: 2800px;">
      <div class="col-lg-12">
        <div class="text-white p-5 shadow-sm rounded banner">

          <p class="lead" style="padding-bottom: 3mm; margin-top: -3mm;">
            Wybierz kategorię dostosowaną do Twoich potrzeb:</p>

          <div class="card-columns" style=" color: black;">

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='easy_care'}"
              style="height: 13rem" (click)="find('easy_care')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='easy_care'" [src]="easyCare" height="90" width="90">
                <img *ngIf="prevCategory==='easy_care'" [src]="easyCareClick" height="90" width="90"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='easy_care'}" style="padding-top:2mm">łatwe<br>w pielęgnacji
                  </h5>
                </label>
              </div>
            </div>

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='better_sleep'}"
              style="height: 13rem;" (click)="find('better_sleep')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='better_sleep'" [src]="betterSleep" height="90" width="90">
                <img *ngIf="prevCategory==='better_sleep'" [src]="betterSleepClick" height="90" width="90"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='better_sleep'}" style="padding-top:2mm">na poprawę<br>snu
                  </h5>
                </label>
              </div>
            </div>

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='air_cleaning'}"
              style="height: 13rem;" (click)="find('air_cleaning')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='air_cleaning'" [src]="airCleaning" height="90" width="90">
                <img *ngIf="prevCategory==='air_cleaning'" [src]="airCleaningClick" height="90" width="90"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='air_cleaning'}" style="padding-top:2mm">
                    oczyszczające<br>powietrze
                  </h5>
                </label>
              </div>
            </div>

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='sun_place'}"
              style="height: 13rem" (click)="find('sun_place')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='sun_place'" [src]="sunPlace" height="90" width="90">
                <img *ngIf="prevCategory==='sun_place'" [src]="sunPlaceClick" height="90" width="90"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='sun_place'}" style="padding-top:2mm">do jasnych<br>miejsc
                  </h5>
                </label>
              </div>
            </div>

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='pet_friendly'}"
              style="height: 13rem" (click)="find('pet_friendly')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='pet_friendly'" [src]="petFriendly" height="90" width="90">
                <img *ngIf="prevCategory==='pet_friendly'" [src]="petFriendlyClick" height="90" width="90"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='pet_friendly'}" style="padding-top:2mm">
                    przyjazne<br>zwierzętom</h5>
                </label>
              </div>
            </div>

            <div class="card text-center" [ngClass]="{'border-success': prevCategory==='dark_place'}"
              style="height:13rem" (click)="find('dark_place')">
              <div class="card-body">
                <img *ngIf="prevCategory!=='dark_place'" [src]="darkPlace" height="82" width="97">
                <img *ngIf="prevCategory==='dark_place'" [src]="darkPlaceClick" height="82" width="97"><br><label>
                  <h5 [ngClass]="{'onClick': prevCategory==='dark_place'}" style="padding-top:2mm">do ciemnych<br>miejsc
                  </h5>
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End -->
  <div class="box">
    <div class="row" style="max-width: 2800px;">

      <!-- Product items -->

      <div class="col mb-4" *ngFor="let product of products; let i = index">
        <div class="bg-white rounded shadow-sm products">
          <img [routerLink]="['/product', product._id]" src={{product.image}} style="width: 340px; height: 250px;"
            class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="d-flex align-items-center justify-content-between">
              <a [routerLink]="['/product', product._id]" class="text-dark justify-content-between"
                style="padding-left: 25px;"> {{ product.name }}</a>
              <b class="small text-muted mb-0" style="padding-right: 25px;">{{product.price}} zł</b>
            </h5>

            <div class="buttons box px-3 py-2 mt-4">
              <button class="btn effect" (click)="addToCart(product)"
                [ngClass]="{'pink': i%3===0, 'blue': i%3===1, 'yellow': i%3===2}"
                [disabled]="product.quantity === 'none'">
                <strong>Dodaj do koszyka</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

  </div>
</div>

<h3 *ngIf="error" class="col-md-3 mx-auto row pt-2" style="color: red; text-align: center">{{error}} </h3>