
.onClick{
    color: green;
}
.box {
  display: flex; 
  justify-content: space-around;
}

@media (min-width: 1300px) {
.card-columns {
    column-count: 6;
}
}
.products {
  max-width: 340px;
  padding: 1px;
  margin: 1px;
}

.card 
{
  background-color: rgba(255, 255, 255, 0.856);
}
.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

 /* BUTTON */
.btn {
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    letter-spacing: 0.04rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn:hover {
    letter-spacing: 0.07em;
  }
  
  /*btn_background*/
  .effect {
    color: rgb(0, 0, 0);
    border: 1px solid #dcdcdc;
    box-shadow:0px 0px 0px 1px  white inset;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect:hover {
    border: 1px solid #dcdcdc;
    background-color: #43b95e;
  }

.box {
  display: flex; 
  justify-content: space-around;
}   
  .pink {
    background-color:  rgba(250, 212, 245, 0.692);
  }
  .blue {
    background-color:  rgba(212, 249, 250, 0.692);
  }
  .yellow {
    background-color:  rgba(250, 243, 212, 0.692);
  }
  

