<main>
    <div style=" display: flex; justify-content:center;">
        <h3 style="letter-spacing: 5px; padding: 20px;">
            NASZE INSPIRACJE
        </h3>
    </div>

    <ol class="gradient-list">
        <li>Książka Projekt rośliny - W. Muszkieta, O. Sieńko.</li>
        <li>Książka O roślinach. Domowa uprawa - R. Berent, Ł. Marcinkowski.</li>
        <li>Artykuł Rośliny doniczkowe od redakcji serwisu muratordom.</li>
        <li>Wideo stworzone przez Luna Lovegood od Pexels.</li>
        <li>Ikona clipboard stworzona przez shashank singh od Noun Project.</li>
        <li>Ikona Shipping stworzona przez Assyifa Art, ID od Noun Project.</li>
        <li>Ikona users stworzona przez Egidio Filippetti, IT od Noun Project.</li>
        <li>Ikona products stworzona przez Besticons od Noun Project.</li>
        <li>Ikona Check stworzona przez Three Six Five od Noun Project.</li>
        <li>Ikona bin stworzona przez Alice Design od Noun Project.</li>
        <li>Ikona return stworzona przez iconsphere od Noun Project.</li>
        <li>Ikona avatar stworzona przez DinosoftLab od Noun Project.</li>
        <li>Ikona zmodyfikowana bag stworzona przez DinosoftLab od Noun Project.</li>
        <li>Ikona living room stworzona przez H Alberto Gongora, CO od Noun Project.</li>
        <li>Ikona study stworzona przez H Alberto Gongora, CO od Noun Project.</li>
        <li>Ikona bedroom stworzona przez H Alberto Gongora, CO od Noun Project.</li>
        <li>Ikona Kitchen stworzona przez H Alberto Gongora, CO od Noun Project.</li>
        <li>Ikona Bathroom stworzona przez H Alberto Gongora, CO od Noun Project.</li>
        <li>Ikona footprint stworzona przez Maxim Kulikov od Noun Project.</li>
        <li>Ikona sleep stworzona przez Mayene de La Cruz, US od Noun Project.</li>
        <li>Ikona Wind stworzona przez Kiran Shastry, IN od Noun Project.</li>
        <li>Ikona sun stworzona przez Jake Park od Noun Project.</li>
        <li>Ikona care stworzona przez Oksana Latysheva, UA od Noun Project.</li>
        <li>Ikona green house stworzona przez Creative Art od Noun Project.</li>
        <li>Ikona drop stworzona przez iconsphere od Noun Project.</li>
        <li>Ikona pot stworzona przez DinosoftLab od Noun Project.</li>
        <li>Ikona fertilizer stworzona przez mynamepong, TH od Noun Project.</li>
        <li>Ikona Garden stworzona przez Alena Artemova, RU od Noun Project.</li>
        <li>Ikona Moon and cloud stworzona przez Mask Icon, ID od Noun Project.</li>
        <li>Ikona zmodyfikowana Flower stworzona przez Visual Glow, US od Noun Project.</li>
    </ol>
</main>
