
.box {
    display: flex; 
    justify-content: space-around;
  } 

  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    height: 1cm;
}
.banner-title {
    display: flex; 
    letter-spacing: 4px; 
     justify-content: space-around; 
     font-size: 28px;
     font-weight: 200;
     margin-top: -22px;
   }
    
  
   /* BUTTON */
   .btn {
     letter-spacing: 0.04rem;
     cursor: pointer;
    font-size: 16px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dcdcdc;
    color: #000000;
    border: 1px solid #dcdcdc;
    box-shadow:0px 0px 0px 1px  white inset;
  }
  
  .btn:hover {
    letter-spacing: 0.07em;
  }
  
  /*btn_background*/
  .effect {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .effect:hover {
    border: 1px solid #dcdcdc;
    background-color: #28a745;
    color: #000000;
  }
  
  .pink {
    background-color:  rgba(250, 212, 245, 0.692);
  }
  .blue {
    background-color:  rgba(212, 249, 250, 0.692);
  }
  .yellow {
    background-color:  rgba(250, 243, 212, 0.692);
  }
  
  